.TodoItem {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 24px;
    font-weight: 300;
    color: #4d4d4d;
    display: flex;  
    border-bottom: 1px solid #cccccc;
}

.TodoItem img {
    margin-left: 20px;
    margin-right: 30px;
}

.TodoItem p {
    padding-top: 10px;
}


.TodoItem-done {
    text-decoration: line-through;
    opacity: .3;
}

