.TodoFilter {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 24px;
  font-weight: 300;
  color: #4d4d4d;
  height: 60px;
  display: flex;
  justify-content: space-around;
}

.TodoFilter div {
  margin: 10px 0;
}

.TodoFilter .status button {
  border: none;
  background-color: white;
}

.TodoFilter .status button:focus {
  border: 1px solid black;
}

.TodoFilter .status .active{
  border: 1px solid black;
}


.TodoFilter .status button {
  margin-left:10px;
}