.App {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  border: 2px solid #ccc;
  width: 600px;    
}

.App .header {
  display: flex;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 24px;
  font-weight: 300;
  border-bottom: 2px solid #bbbbbb;
}

.App .header  input {
  width: 100%;
  font-size: 30px;
  padding-left: 30px;
  border: none;
}
.App .header input:focus{
  outline: none;
}

.App .header img {
  margin-left: 20px;
}